               {% include 'header.html' %}
         
               {% include 'sidebar.html' %}


               <div class="row">
                  <div class="col-md-12">
                     <div class="main-card mb-3 card">
                        <div class="card-header">Employees
                        </div>
                        <div class="table-responsive">
                           <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                              <thead>
                                 <tr>
                                    <th style="text-align: left;">Name</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Address</th>
                                    <th class="text-center">Status</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for employee in employees %}
                                 
                                 <tr>
                                    <td style="text-align: left;"></a> {{employee.first_name}}  {{employee.last_name}}</td>
                                    <td style="text-align: center;"> {{employee.email}} </td>
                                    <td style="text-align: center;"> {{employee.address}} </td>
                                    <td style="text-align: center;">
                                     <button type="button" class="btn mr-2 mb-2" data-toggle="modal" data-target="#modal{{employee.id}}">{{employee.status}}</button></td>
                                 </tr>
                                 
                                 {% endfor %}

                                
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            


   {% include 'footer.html' %}

          {% for employee in employees %}
<div class="modal fade" id="modal{{employee.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="main-card mb-3 card">
            <div class="card-body">
               <h5 class="card-title">Change Status</h5>
               <form class="" action="/updated/status" method="POST">
                  <h5>{{employee.first_name}}  {{employee.last_name}}</h5>
                  <br>
                 <input name="id" type="hidden" value="{{employee.id}}" class="form-control">
                  
                  <div class="position-relative form-group">
                     <label for="status" class="">Select Status</label>
                     <select name="status" class="form-control">
                        <option disabled>Select  Status</option>
                        <optio value="unverified">Unverified</option>
                        <option value="employee" >Employee</option>
                        <option value="supervisor">Supervisor</option>
                        <option value="admin">Admin</option>
                        <optio value="unverified">Unverified</option>
                     </select>
                  </div>
                  <button type="submit" class="mt-1 btn btn-primary">Update</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>


 {% endfor %}