<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <title>Content</title>
   </head>
   <body>
      <nav class="d-flex justify-content-between align-content-center col-12">
         <h1 class="text-center">Welcome {{user.firstname}}</h1>
         <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
         </div>
      </nav>

<form action="/create/recipe" method="POST" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
    <h2 class="text-primary">Add a New Recipe </h2>
    {% with messages = get_flashed_messages(category_filter=['recipe'])  %}
    
        {% if messages %}
            <div class="alert alert-danger" role="alert"></div>
            <strong>Flash Alert!</strong>
            
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                
        {% endif %}
        
    
    {% endwith %}
    <div class="d-flex justify-content-between col-9">
        <input type="hidden" name="user_id" value="{{user.id}}">
    <div class="col-4">
    <div class="form-group">
        <label>name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" cols="30" row="5" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Instructions</label>
        <textarea name="instructions" cols="30" row="5" class="form-control"></textarea>
    </div>
</div>
<div class="col-4">
    <div class="form-group">
        <label>Date made:</label>
        <input type="date" name="date_made"  class="form-control">
    </div>
    <label>Under 3O minutes</label>
    <div class="input-group-text bg-dark">
        <input type="radio" name="under30" value="0" class="form-control">
        <label class="text-warning">No</label>
    </div>
    <div class="input-group-text bg-dark">
        <input type="radio" name="under30" value="1" class="form-control">
        <label class="text-warning">Yes</label>
    </div>
    <br>
    <button  type="submit" value="Create recipe" class="btn btn-primary btn-outline-dark">Add Recipe</button>
</div>
</form>

   </body>
</html>