            {% include 'header.html' %}
               <div class="row" style="padding-right: 5%; padding-left: 5%;">
                  <div class="col-md-12">
                     <div class=" card">
                        <div class="card-body">
                           <div class="row">
                              <div class="col">
                                 <div class="card-body">
                                   
                                       <p>Added say: {{one_post.post}}</p>
                                      
                                      
                                      
                                   
                                 </div>
                                 </ul>
                              </div>
                              <div class="col">
                                 <div class="card-body">
                                    <div class="card-header">Users Who Like This Book
                                    </div>
                                    <div class="table-responsive">
                                       <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                          <tbody>
                                            
                                             
                                             <tr>
                                                <td style="text-align: left;"> } </td>
                                                <td style="text-align: left;"> <a href="#" class="btn btn-danger">Un-Favorite }</a> </td>
                                             </tr>
                                             
                                           
                                            
                                          </tbody>
                                       </table>
                                       <br>
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {% include 'footer.html' %}