
               {% include 'header.html' %}
              
               <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                 <div class="row" style="padding-right: 5%; padding-left: 5%;">
                                   
                                <div class="col-md-12">
                                    <div class="alert alert-warning fade show" role="alert"><h5>Waiting!!!!!!</h5>
                                        <p class="mb-0">Waiting For Approval</p></div>
                                </div>
             {% include 'footer.html' %}