<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Language" content="en">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>Coding Dojo Exam</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
      <meta name="description" content="">
      <meta name="msapplication-tap-highlight" content="no">
      <!--
         =========================================================
         -->
      <link href="{{ url_for('static',filename='main_assets/main.css') }}" rel="stylesheet">
   </head>
   <body>
      <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
         <div class="app-header header-shadow">
            <div class="app-header__mobile-menu">
               <div>
                  <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                  <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                  </span>
                  </button>
               </div>
            </div>
            <div class="app-header__menu ">
               <span>
               <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
               <span class="btn-icon-wrapper">
               <i class="fa fa-ellipsis-v fa-w-6"></i>
               </span>
               </button>
               </span>
            </div>
            <div class="app-header__content " style="padding-right: 5%; padding-left: 35%;">
               <div class="app-header-left">
                  <ul class="header-menu nav ">
                     <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-university"> </i>
                        Home
                        </a>
                     </li>
                     <li class="btn-group nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-desktop"></i>
                        Link 1
                        </a>
                     </li>
                     <li class="dropdown nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-desktop"></i>
                        Link 2
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="app-header-right">
                  <div class="header-btn-lg pr-0">
                     <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                           <ul class="header-menu nav">
                              <li class="nav-item">
                                 <a href="javascript:void(0);" class="nav-link">
                                 <i class="nav-link-icon fa fa-power-off"> </i>
                                 Logout
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="app-main__outer">
            <div class="app-main__inner">
               <div class="app-page-title">
                  <div class="page-title-wrapper">
                     <div class="page-title-heading">
                        <div>Main Dashboard
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="padding-right: 5%; padding-left: 5%;">
                  <div class="col-md-12">
                     <div class=" card">
                        <div class="card-body">
                           <h5 class="card-title">Separators &amp; Headers</h5>
                           <div class="row">
                              <div class="col">
                                 <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Activity</li>
                                    <li class="nav-item">
                                       <a href="javascript:void(0);" class="nav-link">
                                          Chat
                                          <div class="ml-auto badge badge-pill badge-info">8</div>
                                       </a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Recover Password</a></li>
                                    <li class="nav-item-header nav-item">My Account</li>
                                    <li class="nav-item">
                                       <a href="javascript:void(0);" class="nav-link">
                                          Settings
                                          <div class="ml-auto badge badge-success">New</div>
                                       </a>
                                    </li>
                                    <li class="nav-item">
                                       <a href="javascript:void(0);" class="nav-link">
                                          Messages
                                          <div class="ml-auto badge badge-warning">512</div>
                                       </a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Logs</a></li>
                                    
                                   
                                 </ul>
                              </div>
                              <div class="col">
                                 <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Activity</li>
                                    <li class="nav-item">
                                       <a href="javascript:void(0);" class="nav-link">
                                          <i class="nav-link-icon pe-7s-chat"> </i><span>Chat</span>
                                          <div class="ml-auto badge badge-pill badge-info">8</div>
                                       </a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-wallet"> </i><span>Recover Password</span></a></li>
                                    <li class="nav-item-header nav-item">My Account</li>
                                    <li class="nav-item">
                                       <a href="javascript:void(0);" class="nav-link">
                                          <i class="nav-link-icon pe-7s-config"> </i><span>Settings</span>
                                          <div class="ml-auto badge badge-success">New</div>
                                       </a>
                                    </li>
                                    <li class="nav-item">
                                       <a href="javascript:void(0);" class="nav-link">
                                          <i class="nav-link-icon pe-7s-coffee"> </i><span>Messages</span>
                                          <div class="ml-auto badge badge-warning">512</div>
                                       </a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon pe-7s-box2"> </i><span>Logs</span></a></li>
                                    
                                 </ul>
                              </div>
                           </div>
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="app-wrapper-footer">
               <div class="copyright text-center">
                  <p> 2023 Coding Dojo Belt Exam.
                  </p>
               </div>
            </div>
         </div>
      </div>
      </div>
      <script type="text/javascript" src="{{ url_for('static',filename='main_assets/scripts/main.js')}}"></script>
   </body>
</html>